@import "tailwindcss";

@theme {
  --color-primary: #222222;
  --color-secondary: #a19f9f;
  --color-action: #34b7a7;
  --color-action_hover: #38c9b8;
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-8 md:px-12 lg:px-16 xl:px-28;
  }

  /* pages main heading box */
  .page_main_box {
    @apply flex flex-col gap-4   justify-center items-center my-12;
  }
  /* pages main heading */
  .page_main_h1 {
    font-size: clamp(18px, 4vw, 32px);
    @apply text-primary font-semibold;
  }
  /* pages main hr line */
  .page_main_hr {
    @apply h-1 w-[100px] bg-action block;
  }
  /* pages main text */
  .page_main_p {
    font-size: clamp(12px, 4vw, 16px);
    @apply text-secondary;
  } 
  
}
