@import "tailwindcss";

@theme {
  --color-primary: #b50042;
  --color-heading: #000000;
  --color-content: #4a5565;
}
@layer components {
  /* make all page same side width. bootstrap container */
  .own_container {
    @apply w-[95%] mx-auto md:w-[90%] lg:w-[80%] xl:w-[70%];
  }
  .own_ver_space {
    @apply my-15 md:my-20 lg:my-25 xl:my-30;
  }
  /* main heading title */
  .main_heading {
    @apply text-[clamp(1.5rem,5vw,3rem)] font-bold;
  }
  /* font_16px_12px */
  .font_16px_12px {
    @apply text-[12px] md:text-[14px] xl:text-[16px];
  }
  .font_14px_12px {
    @apply text-[12px] md:text-[13px] xl:text-[14px];
  }
  .font_16px_only {
    @apply text-[16px] text-content;
  }
  .a_tag_link {
    @apply text-[16px] text-primary font-bold hover:underline;
  }
}
