* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  background: #000;
  color: white;
  overflow-x: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 60px;
}
html,
body {
  height: 100%;
  width: 100%;
}
h1 {
  overflow: hidden;
}
h1 span {
  display: inline-block;
}
