@import "tailwindcss";

@theme {
  --color-bg: #f4f4f5;
  --color-primary: #202529;
  --color-secondary: #3f454a;
  --color-action: #ff5a73;
  --color-action_hover: #d44a5f;
}

@layer components {
  .container {
    @apply p-4 md:p-8;
  }
  .main_h1 {
    font-size: clamp(18px, 4vw, 38px);
    @apply mt-8 text-primary font-light mx-auto w-[80%] md:w-[70%] lg:w-[60%] xl:w-[50%] text-center leading-[1.1];
  }
  .sub_h1 {
    font-size: clamp(16px, 4vw, 26px);
    @apply mt-8 text-primary  w-[80%] mx-auto;
  }
  .main_h1_spna {
    @apply text-primary font-normal;
  }
  .main_p {
    font-size: clamp(12px, 2.5vw, 16px);
    @apply my-3 md:my-6 text-primary font-light mx-auto w-[90%] md:w-[80%] lg:w-[70%] xl:w-[60%] text-center leading-[1.4];
  }
  .sub_p {
    font-size: clamp(12px, 2.5vw, 16px);
    @apply my-1 md:my-2 text-primary font-light mx-auto w-[90%]   text-center leading-[1.4];
  }
}
