@import "tailwindcss";

@theme {
  --color-primary: #212121;
  --color-secondary: #a2a2a2;
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-8 md:px-12 lg:px-16 xl:px-28;
  }
  /* main heading 24px to 48px */
  .main_heading_h1 {
    font-size: clamp(24px, 4vw, 48px);
    @apply text-primary font-bold leading-[1.1];
  }
  /* main text just like sub heading*/
  .main_text_p {
    font-size: clamp(16px, 4vw, 20px);
    @apply text-secondary font-medium;
  }
  /* common  text  */
  .common_text {
    font-size: clamp(12px, 4vw, 16px);
    @apply text-secondary font-medium;
  }
  .contactUsInput {
    @apply border border-gray-300 rounded-sm block w-full mt-2	 px-4 py-2;
  }
}
